.contact {
  grid-column: span 2;
  margin-top: 20px;
  padding: 6px;
  
  max-width: 267px;

  background-color: #000000;
  ;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .contact {
    max-width: 100%;
    margin: 10px 0;
  }
}

.contact__address {
  margin-bottom: 14px;

  font-style: normal;
}

.contact__link {
  outline: none;
  text-decoration: none;
  color: #FFFFFF;

  padding-left: 1.2em;
}

.contact__separator {
  color: #FFFFFF;
  padding-left: 1em;
}

.contact__title {
  padding-left: 1em;
  font-size: 14px;
  
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  }