.contact {
  grid-column: span 2;
  margin-top: 20px;
  padding: 6px;
  
  max-width: 267px;

  background-color: #000000;
  ;
  border-radius: 15px;
}

@media (max-width: 600px) {
  .contact {
    max-width: 100%;
    margin: 10px 0;
  }
}
